body {
  font-family: "Segoe UI", sans-serif;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  padding: 50px;
}


h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.controls {
  background: #F7AEF8;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.controls label, .controls span {
  font-size: 16px;
  margin-right: 5px;
}

input, select {
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 15px;
}

button {
  padding: 8px 15px;
  background: #B388EB;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #555;
}

#output {
  background: #B388EB;
  padding: 20px;
  border-radius: 5px;
  font-size: 17px;
  line-height: 1.6;
  max-height: 300px;
  overflow-y: auto;
}
